
.homeBlockTraf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 135px;
}

.blockTrafText{
    display: flex;
    flex-direction: column;
}

.trafTitle{
    color: #2b2b2b;
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 65px;
    line-height: 105%;
    letter-spacing: -2px;
    margin-bottom: 32px;
    text-align: center;

}

.trafText{
    text-align: center;
    line-height: 130%;
}

.highlight{
    color: #2A32ED;
}

.downCircle{
    margin-top: 60px;
}


.blockTrafCards{
    display: flex;
}

.leftCards, .centerCards, .rightCards{
    display: flex;
    flex-direction: column;
}

.topCard, .rightBottomCard{
    justify-content: center;
    width: 536px;
    height: 630px;
    background-color: #F4F5FC;
    border-radius: 16px;
    margin: 0 8px 0 8px;
    transition: transform 0.3s;
}


.bottomCard, .rightTopCard{
    margin-top: 16px;
    width: 536px;
    height: 300px;
    background-color: #F4F5FC;
    border-radius: 16px;
    margin: 16px 8px 0 8px;    
    transition: transform 0.3s;
}
.bottomCard:hover, .rightTopCard:hover{
    transform: scale(1.03);
}

.topCard:hover, .rightBottomCard:hover{
    transform: scale(1.03);
}


.rightBottomCard{
    margin: 16px 8px 0 8px;
}
.rightTopCard{
    margin: 0 8px 0 8px;
}

.cardsText{
    color: #616161;
    margin-top: 64px;
    text-align: center;
}

.cardsTextCenter{
    margin-top: 13px;
    text-align: center;
}

.cardsTitle{
    color: #2b2b2b;
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 38px;
    line-height: 105%;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.leftCardsIcons{
    position: relative;
    margin-top: 155px;
}

.centerCardsIcons{
    position: relative;
    margin-top: 40px;
    margin-left: 89px;
}

.ellipse{
    position: relative;
    margin-left: 177px;
}

.rightCardsIcons{
    position: relative;
    margin-top: -35px;
}

.homeBlockSupport{
    width: 1844px;
    height: 1082px;
    margin: 135px 38px 0 38px;
    border-radius: 20px;
    background-color: #F4F5FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockSupportWrapper{
    width: 1640px;
    height: 882px;
}

.suppTitle{
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 65px;
    line-height: 105%;
    letter-spacing: -2px;
    color: #2b2b2b;
}

.suppCards{
    margin-top: 60px;
    margin-bottom: 16px;
    display: flex;
    height: 559px;
}

.suppCard{
    display: flex;
    flex-direction: column;
    margin: 0 8px 0 8px;
    background-color: white;
    border-radius: 16px;
    width: 536px;
    height: 559px;
    transition: transform 0.3s;
}

.cardTextBlock{
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.suppCardTitle{
    color: #2b2b2b;
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 38px;
    line-height: 105%;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.suppCardText{
    color: #616161;
    margin-bottom: 233px;
}

.cardIconBlock{
    margin-left: 40px;
}

.suppVideoCard{
    display: flex;
    background-image: url("../../assets/cards/videoStub.png");
    align-items: end;
    justify-content: end;
    width: 536px;
    height: 559px;
    transition: transform 0.3s;
}

.suppVideoCard:hover, .suppCard:hover{
    transform: scale(1.03);
}

.playButton{
    cursor: pointer;
    transition: transform 0.3s;
}

.playButton:hover{
    transform: scale(1.03);
}

.playButton:active{
    transform: translateY(2px); 
}

.suppStart{
    width: 1640px;
    height: 111px;
    background-color: #2A32ED;
    border-radius: 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suppStartText{
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 38px;
    line-height: 105%;
    letter-spacing: -1px;
    margin-left: 40px;
}

.suppStartButton{
    font-weight:600;
    font-size: 16px;
    margin-right: 40px;
    width: 229px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #1B2B7E;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.suppStartButton:hover{
    color: white;
    background-color: black;
    border: 1;
}

.suppStartButton:active{
    transform: translateY(2px); 
    box-shadow: 0 2px #666;
}


